<div class="container" ng-controller="FriendsCtrl">


  <div class="col-md-offset-2 col-md-8 friends text-center">


    <h1 class="text-center">Friends</h1>

    <input type="text" id="search-bar" class="form-control" ng-model="query" placeholder="Search by name or type"/><br>

    <div class="col-md-3 text-center current-user-on-friends">
      <a href="/type/{{$root.currentUserType}}">
        <img ng-src={{$root.currentUserPic}} class="profile-pic"><br>
        {{$root.currentUser.name}}<br>
        <span class="badge badge-primary" ng-show="$root.currentUserType">{{$root.currentUserType}}</span>
      </a>
    </div>

    <div ng-repeat="f in (friendsArray | filter: query | orderBy: f.name) track by $index">
      <div class="col-md-3 text-center user-on-friends">


        <a ng-if="f.type" ng-href="/type/{{f.type}}">
          <img ng-src="https://graph.facebook.com/{{f.id}}/picture" class="profile-pic"><br>
          {{f.name}}<br>
          <span class="badge badge-primary">{{f.type}}</span>
        </a>

        <a ng-if="!f.type" href="#">
          <img ng-src="https://graph.facebook.com/{{f.id}}/picture" class="profile-pic"><br>
          {{f.name}}<br>
        </a>




      </div>
    </div>


  </div>

</div>