<div class="container" ng-controller="HomeCtrl">


  <div class="col-md-offset-2 col-md-8 dashboard">

    <h1 class="text-center">Dichotomies</h1>

    <tabset class="type-data">
      <tab heading="Extraversion / Introversion">
        <span>
          <b>Extraversion (E)</b>
          <p>I like getting my energy from active involvement in events and having a lot of different activities. I'm excited when I'm around people and I like to energize other people. I like moving into action and making things happen. I generally feel at home in the world. I often understand a problem better when I can talk out loud about it and hear what others have to say.</p>

          <p>The following statements generally apply to me:
            <ul><li>I am seen as "outgoing" or as a "people person."</li>
              <li>I feel comfortable in groups and like working in them.</li>
              <li>I have a wide range of friends and know lots of people.</li>
              <li>I sometimes jump too quickly into an activity and don't allow enough time to think it over.</li>
              <li>Before I start a project, I sometimes forget to stop and get clear on what I want to do and why.</li>
            </ul>
          </p><br>


          <b>Introversion (I)</b>
          <p>I like getting my energy from dealing with the ideas, pictures, memories, and reactions that are inside my head, in my inner world. I often prefer doing things alone or with one or two people I feel comfortable with. I take time to reflect so that I have a clear idea of what I'll be doing when I decide to act. Ideas are almost solid things for me. Sometimes I like the idea of something better than the real thing.</p>

          <p>The following statements generally apply to me:
            <ul><li>I am seen as "reflective" or "reserved."</li>
              <li>I feel comfortable being alone and like things I can do on my own.</li>
              <li>I prefer to know just a few people well.</li>
              <li>I sometimes spend too much time reflecting and don't move into action quickly enough.</li>
              <li>I sometimes forget to check with the outside world to see if my ideas really fit the experience.</li>
            </ul>
          </p>
        </span>
      </tab>
      <tab heading="Sensing / Intuition">
        <span>

          <b>Sensing (S)</b>
          <p>Paying attention to physical reality, what I see, hear, touch, taste, and smell. I'm concerned with what is actual, present, current, and real. I notice facts and I remember details that are important to me. I like to see the practical use of things and learn best when I see how to use what I'm learning. Experience speaks to me louder than words.</p>

          <p>The following statements generally apply to me:
            <ul><li>I remember events as snapshots of what actually happened.</li>
              <li>I solve problems by working through facts until I understand the problem.</li>
              <li>I am pragmatic and look to the "bottom line."</li>
              <li>I start with facts and then form a big picture.</li>
              <li>I trust experience first and trust words and symbols less.</li>
              <li>Sometimes I pay so much attention to facts, either present or past, that I miss new possibilities.</li></ul></p><br>

              <b>Intuition (N)</b>
              <p>Paying the most attention to impressions or the meaning and patterns of the information I get. I would rather learn by thinking a problem through than by hands-on experience. I'm interested in new things and what might be possible, so that I think more about the future than the past. I like to work with symbols or abstract theories, even if I don't know how I will use them. I remember events more as an impression of what it was like than as actual facts or details of what happened.</p>

              <p>The following statements generally apply to me:
                <ul><li>I remember events by what I read "between the lines" about their meaning.</li>
                  <li>I solve problems by leaping between different ideas and possibilities.</li>
                  <li>I am interested in doing things that are new and different.</li>
                  <li>I like to see the big picture, then to find out the facts.</li>
                  <li>I trust impressions, symbols, and metaphors more than what I actually experienced</li>
                  <li>Sometimes I think so much about new possibilities that I never look at how to make them a reality.</li></ul>
                </p>
              </span>
            </tab>
            <tab heading="Thinking / Feeling">
              <span>

                <b>Thinking (T)</b>
                <p>When I make a decision, I like to find the basic truth or principle to be applied, regardless of the specific situation involved. I like to analyze pros and cons, and then be consistent and logical in deciding. I try to be impersonal, so I won't let my personal wishes--or other people's wishes--influence me.</p>

                <p>The following statements generally apply to me:
                  <ul><li>I enjoy technical and scientific fields where logic is important.</li>
                    <li>I notice inconsistencies.</li>
                    <li>I look for logical explanations or solutions to most everything.</li>
                    <li>I make decisions with my head and want to be fair.</li>
                    <li>I believe telling the truth is more important than being tactful.</li>
                    <li>Sometimes I miss or don't value the "people" part of a situation.</li>
                    <li>I can be seen as too task-oriented, uncaring, or indifferent.</li></ul></p><br>

                    <b>Feeling (F)</b>
                    <p>I believe I can make the best decisions by weighing what people care about and the points-of-view of persons involved in a situation. I am concerned with values and what is the best for the people involved. I like to do whatever will establish or maintain harmony. In my relationships, I appear caring, warm, and tactful.</p>

                    <p>The following statements generally apply to me:
                      <ul><li>I have a people or communications orientation.</li>
                        <li>I am concerned with harmony and nervous when it is missing.</li>
                        <li>I look for what is important to others and express concern for others.</li>
                        <li>I make decisions with my heart and want to be compassionate.</li>
                        <li>I believe being tactful is more important than telling the "cold" truth.</li>
                        <li>Sometimes I miss seeing or communicating the "hard truth" of situations.</li>
                        <li>I am sometimes experienced by others as too idealistic, mushy, or indirect.</li></ul>
                      </p>
                    </span>
                  </tab>
                  <tab heading="Judging / Perceiving">
                    <span>
                      <b>Judging (J)</b>
                      <p>I use my decision-making (Judging) preference (whether it is Thinking or Feeling) in my outer life. To others, I seem to prefer a planned or orderly way of life, like to have things settled and organized, feel more comfortable when decisions are made, and like to bring life under control as much as possible.</p>

                      <p>Since this pair only describes what I prefer in the outer world, I may, inside, feel flexible and open to new information (which I am).</p>

                      <p>Do not confuse Judging with judgmental, in its negative sense about people and events. They are not related.</p>

                      <p>The following statements generally apply to me:
                        <ul><li>I like to have things decided.</li>
                          <li>I appear to be task oriented.</li>
                          <li>I like to make lists of things to do.</li>
                          <li>I like to get my work done before playing.</li>
                          <li>I plan work to avoid rushing just before a deadline.</li>
                          <li>Sometimes I focus so much on the goal that I miss new information.</li></ul></p><br>

                          <b>Perceiving (P)</b>
                          <p>I use my perceiving function (whether it is Sensing or Intuition) in my outer life. To others, I seem to prefer a flexible and spontaneous way of life, and I like to understand and adapt to the world rather than organize it. Others see me staying open to new experiences and information.</p>

                          <p>Since this pair only describes what I prefer in the outer world, inside I may feel very planful or decisive (which I am).</p>

                          <p>Remember, in type language perceiving means "preferring to take in information." It does not mean being "perceptive" in the sense of having quick and accurate perceptions about people and events.</p>

                          <p>The following statements generally apply to me:
                            <ul><li>I like to stay open to respond to whatever happens.</li>
                              <li>I appear to be loose and casual. I like to keep plans to a minimum.</li>
                              <li>I like to approach work as play or mix work and play.</li>
                              <li>I work in bursts of energy.</li>
                              <li>I am stimulated by an approaching deadline.</li>
                              <li>Sometimes I stay open to new information so long I miss making decisions when they are needed.</li></ul>
                            </p>
                          </span>
                        </tab>
                      </tabset>

                    </div>

                  </div>