body {
  /*background-color: #ababab;*/
  font-family: 'Noto Sans', sans-serif;
}

#logo-small {
  width: 50px;
  display: inline;
}

#logo {
  max-height: 84vh;
  max-width: 90vw;
}

.profile-pic {
  border-radius: 50%;
  width: 30px;
}

.btn {
  white-space:normal !important;
  border-radius: 0;
  margin: 0;
}

